body{
    margin:0;
    padding: 0;
}
  
.logo{
  width: 70px;
  height: 60px;
  border-radius: 50%;
}
.column{
  margin: auto;
  justify-content: center;
  width: 23.3%;
  margin-top: 16px;
  padding: 0 1px;
  
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container{
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: block;
}
.title{
  color: grey;
}
.button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  border-color: #555;
}

@media screen and (max-width: 650px) {
  .column{
    width: 100%;
    display: block;
  }
}